body {
    background-color: rgb(51, 51, 51) !important;
    background-image: url(../wave.svg) !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: hsl(0, 0%, 35%);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 70%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 100%);
    border-radius: 3px;
}

::selection{
    background-color: white !important;
    color: black !important;
    border-radius: 20px;
}

.text-editor{
    width: 45% !important;
    height: 100% !important;
    font-family: verdana !important;
}

@keyframes code2{
    from{padding-top: 0px;}
    to{padding-top: 30px;}
}

@keyframes code{
    from{padding-top: 500px; padding-bottom: 0px; width: 0%; opacity: 0;}
    to{padding-top: 50px; padding-bottom: 10px; width: 100%; opacity: 1;}
}

.editor{
    animation-name: code2 !important;
    animation-duration: 1s !important;
    width: 100%;
    height: 300px;
    padding-left: 0px !important;
    padding-top: 0px !important;
    border-radius: 2px !important;
    box-shadow: 0px, 0px, 0px, gray !important;
    border-color: blueviolet !important;
    border-width: 2px !important;
    outline: 0 !important;
}

.text-editor h2{
    animation-name: code !important;
    animation-duration: 1s !important;
    animation-delay: 0.5s;
    color: rgb(226, 226, 226) !important;
    padding-top: 30px;
    transition-duration: 1.5s;
    font-family: arial !important;
    padding-left: 40%;
    padding-top: 50px;
}

.head img{
    width: 50px;
    height: 50px;
}

.head{
    top: 0 !important;
    padding: 20px;
    border-radius: 10px;
    border: none !important;
    outline: none i !important;
    float: left;
    transition-duration: 1s;
}

.head img:hover{
    width: 60px;
    height: 60px;
    transition-duration: 0.5s;
}

.response{
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    background-color: white !important;
    width: 58% !important;
    height: auto !important;
    border-radius: 5px !important;
}