body, html {
    background-color: rgb(51, 51, 51);
    padding: 0;
    margin: 0;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: hsl(0, 0%, 35%);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 70%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 100%);
    border-radius: 3px;
}

::selection{
    background-color: white;
    color: black;
    border-radius: 20px;
}

.text-editor{
    width: 45%;
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

@keyframes code2{
    from{padding-top: 0px;}
    to{padding-top: 30px;}
}

@keyframes code{
    from{padding-top: 500px; padding-bottom: 0px; width: 0%; opacity: 0;}
    to{padding-top: 50px; padding-bottom: 10px; width: 100%; opacity: 1;}
}

.editor{
    animation-name: code2;
    animation-duration: 1s;
    width: 45%;
    height: 500px;
    padding-left: 0px;
    padding-top: 0px;
    border-radius: 2px;
    box-shadow: 0px, 0px, 0px, gray;
    border-color: blueviolet;
    border-width: 2px;
    outline: 0;
    position: absolute;
    top: 20%;
}

.text-editor h2{
    animation-name: code;
    animation-duration: 1s;
    animation-delay: 0.5s;
    color: rgb(226, 226, 226);
    transition-duration: 1.5s;
    font-family: arial;
    display: block;
    padding-left: 10%;
    padding-top: 50px;
}

.head img{
    width: 50px;
    height: 50px;
}

.head{
    top: 0;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none i;
    float: left;
    display: block;
    transition-duration: 1s;
}

.head img:hover{
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.response{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
    width: 55%;
    height: 100%;
    border-radius: 5px;
}
#DisplayI{
    width: 100%;
    height: 100%;
}
.monaco-editor{
    border-radius: 5px;
}
#code-html .monaco-editor{
    border: solid orangered;
}
#code-css .monaco-editor{
    border: solid hsl(221, 100%, 50%);
}
#code-js .monaco-editor{
    border: solid hsl(66, 100%, 44%);
}
#wave{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
#Selector{
    padding-left: 30px;
}